# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives<strong>:
 - Top open source tools for Data Science
 - Top languages for Data Science
 - Top libraries for Data Science
 - How to use Jupyter notebook
 - First Arithmetic Commands in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R lenguage
3. SQL languages
4. Scala,
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Mathplotlib
4. SciPy
5. ggplot2
6. Seaborn

| Data Science Tools |
| ----------- | 
| Jupyter Notebook | 
| Apache Spark   | 
| RStudio   | 
| Anaconda   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
houres = (200/60)
print(f"200 minutes equals {houres} houres")

200 minutes equals 3.3333333333333335 houres

## Author 
Douglas Carvalho